<table class="table table-bordered">
  <thead>
    <tr>
      <td>
        文章標題
      </td>
      <td>
        發文者
      </td>
      <td>
        發文日期
      </td>
      <td>
        刪除
      </td>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td>
        <%= link_to(article.title, edit_admin_article_path(article)) %>
      </td>
      <td>
        <%= article.user.username %>
      </td>
      <td>
        <%= article.created_at.strftime("%Y-%m-%d") %>
      </td>
      <td>
        <%= link_to('刪除',admin_article_path(article),method: :delete, data:{confirm:'確定刪除文章?'}) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
