<div id="brand">
  <h1>
    <a href="/admin">後台</a>
  </h1>
</div>
<div id="navigation">
  <ul>
    <li>Welcome Back ! <%= current_user.username %></li>
  </ul>
</div>
<div id="login">
<% if !current_user %>
<%= link_to("登入", new_user_session_path) %>
<% else %>
<%= link_to("登出", destroy_user_session_path, method: :delete) %>
<% end %>
<%= link_to("回前台", blogs_path) %>
</div>
