<div id="brand">
  <h1>
    <a href="/">ZHE</a>
  </h1>
</div>
<div id="navigation">
  <ul>
    <% @categories.try(:each) do |category| %>
      <li><%= category.title %></li>
    <% end %>
    <li>About</li>
  </ul>
</div>
<div id="social">
  <ul>
    <li>
      <a href="https://www.facebook.com/zhezheisme/" target="_blank">
        <img src="http://i.imgur.com/rJIGpgt.jpg">
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/zhezheisme/" target="_blank">
        <img src="http://i.imgur.com/iVK5jP9.jpg">
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <img src="http://i.imgur.com/RSlZtad.jpg" />
        <input type="text" id="search" name="search" placeholder="SEARCH" onfocus="this.placeholder = ''" onblur="this.placeholder = 'SEARCH'"/>
      </a>
    </li>
  </ul>
</div>

