<div id="brand">
  <h1>
    <a href="/">LORRY</a>
  </h1>
</div>
<div id="navigation">
  <ul>
    <li>Categories</li>
    <li>About</li>
  </ul>
</div>
<div id="social">
  <ul>
    <li>
      <a href="http://www.facebook.com"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    </li>
  </ul>
</div>
<div>
<% if !current_user %>
<%= link_to("登入", new_user_session_path) %>
<% else %>
<%= link_to("登出", destroy_user_session_path, method: :delete) %>
<% end %>
</div>
