// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  text-decoration: none;
  }
a,ul {
  text-decoration: none !important;
  list-style: none;
  color: inherit !important;
}
::-webkit-input-placeholder {
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
  color: #3E3A39;
}

:-moz-placeholder { /* Firefox 18- */
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
  color: #3E3A39;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
  color: #3E3A39;
}

:-ms-input-placeholder {
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
  color: #3E3A39;
}
#brand h1 {
  margin: 20px 0 0 0 !important;
  height: 80px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
#brand a {
  font-family: 'Montserrat';
  font-weight: bold;
  color: #3E3A39;
  letter-spacing: 0.11em;
}
.header {
  background-color: #fff;
  width:100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  margin:0px;
  z-index: 9999999;
}
@media only screen and (max-width: 969px) {
  .header-inner{
    width: 100%;
  }
}

.shrink,.shrink .header-inner,.shrink .header-inner #brand h1,.shrink #navigation ul li,.shrink #social ul li, .shrink #login, .shrink #login a{
  height: 50px;
  line-height: 50px;
  margin-top: 0px !important;
}

.header-inner {
  margin: 0 auto;
  width: 950px;
  height:80px;
}

#brand {
  float:left;
  width: 120px;
}
#navigation{
  float:left;
  width: 600px;
}

#social{
  float: left;
  width: 230px;
}

#navigation ul, #social ul{
  float:left;
  list-style: none;
  font-size: 14px;
  height: 80px;
  letter-spacing: 0.11em;
  padding-left:20px;
}

#navigation ul li, #social ul li{
  font-family: 'Montserrat' !important;
  font-weight: bold !important;
  float:left;
  height: 80px;
  line-height: 80px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #3E3A39;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

#social ul li i{
  color: #3E3A39;
}

#login {
  float: left;
  width: 150px;
}
#login a{
  float:left;
  height: 80px;
  line-height: 80px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #3E3A39;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
@media (min-width: 1200px) {
    .container{
        max-width: 950px;
        padding-left: 0px !important;
    }
}
.instagram{
  width:100%;
  position: relative;
}
.instagram-item{
  float:left;
  width:10%;
}
.instagram-list{
  padding:0px;
}
.instagram-list li{
  position:relative;
}
.instagram-list li a{
width: 100%;
height:100%;
display:block;
margin:0px;
padding:0px;

}

.footer {
  background-color: #ddd;
  margin-top:15px;
}
.instagram-title{
  font-family: 'Montserrat';
  position:absolute;
  color:white;
  left:50%;
  font-size:18px;
  line-height:3.8;
  margin-left: -56.5px;
}
.widget{
  padding-top:70px;
}
.show-article {
  font-size: 16px;
  font-family: 'proxima-nova';
  line-height: 16px;
  color: #838383;
}
.insta-detail {
  opacity: 0;
  z-index:999;
  position: absolute;
  top:40%;
  height:auto;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.insta-like ,.insta-comment{
  float:left;
  line-height:18px !important;
  padding-right:10px;
}

.insta-link img{
  width:100%;
}

span.likes, span.comments{
  float:left;

}
.insta-comment{
  float:left;
  clear:both;
}
span.comments{
  float:left;
}
.insta-detail p{
  padding-left: 25%;
  color: #fff;
}
.bx-wrapper{
  width:1000px;
}
.copyright{
  font-weight:bold;
  font-size: 14px;
  color:#B3B3B3;
  text-align:center;
  letter-spacing: 0.05em;
}
.container{
  width:950px !important;
}
.articles{
  padding-top:20px;
  font-size:18px;
  font-family: 'Montserrat';
  color:#3E3A39;;
}
.also-like .row{
  padding-top:20px;
}
.also-like-image img{
  width:450px;
  height:225px;
}
.also-like-title{
  text-align:left;
  padding-top:20px;
  font-size:24px;
  font-weight:bold;
}
.also-like-article{
  text-align:left;
  padding-top:5px;
  font-size: 16px;
  font-family: 'proxima-nova';
  line-height: 16px;
  color: #838383;
}

@media only screen and (min-width:970px){
  .bx-wrapper{
    height:379px;
  }
  .bx-viewport {
    border:none !important;
  }
  .bx-wrapper{
    width:1000px;
  }
  .bx-wrapper ul li {
    height: 379px;
  }
  .bx-wrapper ul li img{
    width: 100%;
    height: auto;
  }
  .logo-widget{
    margin-top:120px;
  }
  .logo-wrapper{
    position:relative;
    min-height:140px;
  }
  .logo {
    position:absolute;
    left:405px;
  }
  .about-logo-wrapper{
    position:relative;
    text-align:center;
  }
  .about-logo{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
  }
  .main-content{
    margin-top:50px;
    min-height:300px;
  }
  .col-md-6.brief{
    padding-left:40px;
    margin-top:40px;
    width:50% !important;
  }
  .title{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #3E3A39;
    font-size:30px;
  }
  #search{
    width:65px;
    line-height:normal !important;
    border:none;
    outline: none;
  }
  .article-image{
    width:477px;
    height:236px;
  }
  .pagination{
    position: relative;
    width:100%;
    height:50px;
    margin-bottom:50px !important;
  }
  .page-wrapper{
    width: 100px;
    line-height: 3;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }

  .page{
    color:#B3B3B3;
    cursor:pointer;
    font-family: 'Montserrat';
    font-weight:normal !important;
  }
  .contact-info{
    position:relative;
    font-family: 'Montserrat';
    font-weight:bold;
    color: #3E3A39;
    font-size:24px;
    text-align:center;
    margin-top:40px;
  }
  .email,.facebook,.instagram{
    margin-left:auto;
    margin-right:auto;
  }
  .slogan{
    font-family: 'Montserrat';
    font-weight:bold;
    color:#B3B3B3;
    font-size:40px;
    position:relative;
    text-align:center;
    margin-top:50px;
  }
  .center-slogan{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
  }
  .about-content{
    margin-top:150px;
  }
  .collapse-header{
    display:none;
  }
  .also-like{
    text-align: center;
  }
}
@media only screen and (max-width: 969px){

  .header-inner{
    width:100%;
  }
  .bx-viewport {
    border:none !important;
    position:static !important;
    height:auto !important;
  }
  .bx-wrapper{
    width:100%;
    height:auto;
    margin-top:20px;
    padding-top:30px !important;
    background-color: white;
  }
  .bx-wrapper ul li img{
    width: 100%;
    height: auto;
  }
  .sliders{
    padding:0px !important;
  }
  .logo-wrapper{
    position:relative;
    min-height:164px;
  }
  .logo {
    position:absolute;
    left:50%;
    margin-left:-72px;
  }
  .article-image{
    width:100%;
    height:auto;
  }
  .title{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #3E3A39;
    font-size:30px;
  }
  .pagination{
    position: relative;
    width:100%;
    height:50px;
    margin-bottom:50px !important;
  }
  .page-wrapper{
    width: 100px;
    line-height: 3;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }
  .page{
    color:#B3B3B3;
    cursor:pointer;
    font-family: 'Montserrat';
    font-weight:normal !important;
  }
  .col-md-6, .row{
    padding:0px !important;
    margin:0px !important;
  }
  .insta-detail{
    display:none;
  }
  .about-logo-wrapper{
    position:relative;
    text-align:center;
    z-index:9999;
    background-color:white;
  }
  .about-logo{
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
  }
  .navbar-toggle .icon-bar{
    background-color:black !important;
    width:27px !important;
    height:3px !important;
  }
  .navbar-toggle{
    margin-top:20px !important;

  }
  #brand h1{
    margin-left:15px !important;
  }
  .about-logo img{
    width:200px;
    height:200px;
  }
  .about-content{
    margin-top:5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    z-index:99999;
    background-color:white;
  }
  .about-content .container{
    margin:0px !important;
    width:100% !important;
  }
  .header-origin{
    display:none;
  }
  .collapse-header{
    height:0px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    margin-top:90px;
  }
  .collapse-header li{
    height:30px;
    line-height:30px;
  }
  .collapse-header ul{
    padding-left:20px !important;
  }
  ::-webkit-input-placeholder {
  font-family: 'Montserrat' !important;
  font-weight: normal !important;
  color: #3E3A39;
  font-size:12px;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-fsamily: 'Montserrat' !important;
    font-weight: normal !important;
    color: #3E3A39;
    font-size:12px;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Montserrat' !important;
    font-weight: normal !important;
    color: #3E3A39;
    font-size:12px;
  }

  :-ms-input-placeholder {
    font-family: 'Montserrat' !important;
    font-weight: normal !important;
    color: #3E3A39;
    font-size:12px;
  }
  .contact-info{
    position:relative;
    font-family: 'Montserrat';
    font-weight:bold;
    color: #3E3A39;
    font-size:16px;
    text-align:center;
    padding-top:40px;
    background-color:white;

  }
  .email,.facebook,.instagram{
    margin-left:auto;
    margin-right:auto;
  }
  .slogan{
    font-family: 'Montserrat';
    font-weight:bold;
    color:#B3B3B3;
    font-size:18px;
    position:relative;
    text-align:center;
    margin-top:50px;
  }
  .center-slogan{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
  }
  .white-place{
    min-height:100px !important;
  }
  #search{
    border:none;
    outline: none;
    height:23px;
  }
  #collapse-toggle{
    display:block !important;
  }
  .logo-widget .container{
    margin:0px !important;
    width:100% !important;
    background-color:white;
  }
  .logo-wrapper{
    background-color: white;
    padding-top:20px;
  }
  .main-content .container{
    margin:0px !important;
    width:100% !important;
  }
  .collapse-wrapper {
    display:none;
  }
  .collapse-wrapper ul li{
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #3E3A39;
  }
  .collapse-wrapper ul li img{
    width:23px;
    height:23px;
  }
  .wrap {
    margin-top:0px;
  }
  .wrap .container{
    padding-top: 20px;
    position:relative;
    background-color:white;
  }

  .also-like .row .col-md-6{
    padding-top:20px !important;
  }
  .also-like-image img{
    width:450px;
    height:225px;
  }
  .also-like-title{
    text-align:left;
    padding-top:20px;
    font-size:24px;
    font-weight:bold;
  }
  .also-like-article{
    text-align:left;
    padding-top:5px;
    font-size: 16px;
    font-family: 'proxima-nova';
    line-height: 16px;
    color: #838383;
  }
}

