// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  text-decoration: none;
  }
a,ul {
  text-decoration: none !important;
  list-style: none;
}
#brand h1 {
  margin: 17px 0 0 0 !important;
  height: 80px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
#brand a {
  font-family: 'proxima-nova';
  color: #838383;
  letter-spacing: 0.11em;
}
.header {
  background-color: #fff;
  width:100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E6E6E6;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  margin:0px;
  z-index: 9999999;
}
@media only screen and (max-width: 969px) {
  .header-inner{
    width: 100%;
  }
}

.shrink,.shrink .header-inner,.shrink .header-inner #brand h1,.shrink #navigation ul li,.shrink #social ul li, .shrink #login, .shrink #login a{
  height: 50px;
  line-height: 50px;
  margin-top: 0px !important;
}

.header-inner {
  margin: 0 auto;
  width: 950px;
  height:80px;
}

#brand {
  float:left;
  width: 177px;
}
#navigation{
  float:left;
  width: 400px;
}

#social{
  float: left;
  width: 170px;
}

#navigation ul, #social ul{
  float:left;
  list-style: none;
  font-size: 16px;
  font-family: 'proxima-nova';
  height: 80px;
  letter-spacing: 0.33em;
}

#navigation ul li, #social ul li{
  float:left;
  height: 80px;
  line-height: 80px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #838383;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

#social ul li i{
  color: #838383;
}

#login {
  float: left;
  width: 150px;
}
#login a{
  float:left;
  height: 80px;
  line-height: 80px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #838383;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
@media (min-width: 1200px) {
    .container{
        max-width: 950px;
        margin-top: 80px;
        padding: 0px;
    }
}
.instagram{
  width:100%;
  position: relative;
}
.instagram-item{
  float:left;
  width:10%;
}
.instagram-list{
  padding:0px;
}
.instagram-list li{
  position:relative;
}
.instagram-list li a{
width: 100%;
height:100%;
display:block;
margin:0px;
padding:0px;

}

.footer {
  background-color: #ddd;
  height:350px;
}
.show-article {
  text-align: center;
  font-size: 16px;
  font-family: 'proxima-nova';
  line-height: 16px;
  color: #838383;
  border: 1px solid #E6E6E6;
}
.insta-detail {
  opacity: 0;
  z-index:99;
  position: absolute;
  top:40%;
  height:auto;
  width: 100%;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
.insta-like ,.insta-comment{
  float:left;
  line-height:18px !important;
  padding-right:10px;
}
span.likes, span.comments{
  float:left;

}
.insta-comment{
  float:left;
  clear:both;
}
span.comments{
  float:left;
}
.insta-detail p{
  padding-left: 25%;
  color: #fff;
}
.bx-wrapper{
  width:1000px;
}
@media only screen and (min-width:1200px){
  .bx-wrapper{
    width:1000px;
  }
  .bx-wrapper ul li {
    height: 379px;
  }
  .bx-wrapper ul li img{
    width: 100%;
    height: auto;
  }
}
