// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
#brand h1 {
  margin: 17px 0 0 0 !important;
  height: 80px;
}
#brand a {
  font-family: 'proxima-nova';
  color: #838383;
  letter-spacing: 0.11em;
}
.header {
  width:100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
}

.header-inner {
  margin: 0 auto;
  width: 950px;
  height:80px;
}

#brand {
  float:left;
  width: 177px;
}
#navigation{
  float:left;
  width: 400px;
}

#social{
  float: left;
  width: 170px;
}

#navigation ul, #social ul{
  float:left;
  list-style: none;
  font-size: 16px;
  font-family: 'proxima-nova';
  height: 80px;
  letter-spacing: 0.33em;
}

#navigation ul li, #social ul li{
  float:left;
  height: 80px;
  line-height: 80px;
  margin: 0px 10px;
  text-transform: uppercase;
  color: #838383;
}

#social ul li i{
  color: #838383;
}

