<div class="week_flow">
</div>
  <h3>
    <span></span>
  </h3>

<script>
var week_flow = []
var popularities_in_a_week = <%= @popularities_in_a_week.to_json.html_safe %>
$.each(popularities_in_a_week,function(key,obj){
  console.log(popularities_in_a_week);
  date = obj.created_at.substring(0,10); //日期
  popularity = obj.popularity; //該日期的人數
  week_flow[key] = {date:date,popularity:popularity,y:key * 35}
  console.log(week_flow);
});
console.log(week_flow[0].date);
//將svg接在week_flow這個tag後並設定size
 var s = d3.select('.week_flow').append('svg').attr({
            'width':650,
            'height':300
          });
//用rect把資料用長條圖表示
    s.selectAll('rect').data(week_flow).enter().append('rect').attr({
      'height':18,
      'x':0,
      'y':function(d){
        return (d.y);//每筆資料的長條圖的間隔
      }
     }).attr({
      'class':'popularity_chart',
      'fill':'#09c'}).style('margin-left','120px').attr(
      'width',0).transition().duration(500).attr(
        'width',function(d){
        return (d.popularity)*5; //每筆資料長條圖的長度
      });
  //顯示該長條圖中該筆資料為何
  s.selectAll('text').data(week_flow).enter().append('text').text(function(d){
  return  d.date+'  /  人數: '+d.popularity;
  }).attr({
  'fill':'#000',
  'x':function(d){
    return 450;
  },
  'y':function(d){
    return d.y+14;
  }
 });
</script>
